@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
.mt-5{
    margin-top: 7rem !important;
}
.img,svg{
    height: 400px !important;
    
}