@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
.mt-4{
  margin-top: 6rem !important;
}
th {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  .search-class{
    color: white !important;
  }
.form-control{
    background-color:#6c757d !important;
    color: white !important;
}
.btn-dark {
    height : fit-content !important;
  }
